.hero-dv{
    background-color: #F1F3FF;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 2rem;
}

.tf-back{
    display: flex;
    padding-bottom: 1rem ;
}
.tmbl-select{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem 0;
    width: 100px;
    height: 40px;
    border: solid 2px lightgray;
    border-radius: 5px;
    margin:0 1rem;
}

.copy{
    display: flex;
    justify-content: space-between;
    border: solid 1px black;
    margin-left: 0.3rem;
    padding: 0.3rem;
}

.ins-container{
    position: relative;
    bottom: 2.5rem;
}

.ins-item{
    margin: 1rem;
}

.time {
    background: rgb(255,0,0);
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 3px;
    padding: 0.3rem;
}

.Tabs-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tabs-content {
    margin-top: 16px;
    color: #8A8A8A;
}

.active {
    border-bottom: 2px solid #2bd604;
    background-color: #ffffff;
}

.ins-content{
    margin: 1rem 0.5rem;
}

.instruct-accord{
    display: block;
}

.instruct-nav{
    display: none;
}

.load-wrapper{
    border: solid 2px #d9d9d9;
    padding: 2rem;
    margin-bottom: 20px;
}
.load {
	width: 30px;
	height: 30px;
	margin: 20px auto;
	border:solid 3px #2484ff;
	border-radius: 50%;
	border-right-color: transparent;
	border-bottom-color: transparent;
	-webkit-transition: all 0.5s ease-in;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1.0s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    transition: all 0.5s ease-in;
    animation-name:             rotate; 
    animation-duration:         0.5s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear; 
}

@media only screen and (min-width: 768px) {
    .hero-dv{
        flex-direction: row;
        justify-content: space-around;
        padding-top: 4.5rem;
    }
    .tf-back{
        display: flex;
        margin-right: 7rem;
    }
    .instruct-cont {
        width: 730px;
    }
    .instruct-accord{
        display: none;
    }
    .instruct-nav{
        display: block;
    }
}

@media only screen and (min-width: 1024px) {
    .ins-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 5rem;
    }
    .instruct-cont {
        width: 530px;
    }
    .upload{
        width: 500px;
        overflow:hidden;
        height:1%;
    }
    
}




 @keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}
 

 @-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}