.sign-section {
  padding: 2rem 0.5rem;
}

.sign-form {
  text-align: left;
  padding: 0 1rem;
}

.sign-form h1 {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin: 2rem 0;
}

.square {
  background-color: #cfd4ed;
}

.btn-submit,
.btn-submit:hover,
.btn-submit:active,
.btn-submit:visited {
  font-weight: 700 !important;
  background-color: #0d28a6 !important;
}

.sign-form p {
  margin-top: 1rem;
}

.sign-link {
  font-weight: 700;
  color: #0d28a6;
}

img.sign-img {
  display: none;
}

.status-error {
  /* width: 220px;
  height: 40px;
  color: rgb(0, 0, 0);
  margin-top: 0px;
  background-color: rgb(189, 224, 189);
  border: none;
  border-radius: 4px;
  text-align: center;
  padding-top: 8px;
  margin-bottom: 8px;
  margin-left: 3%; */
  animation: fade-out 5s forwards;
}

/* .Rentbtn,
.Rentbtn:hover,
.Rentbtn:active,
.Rentbtn:visited {
  font-weight: 700 !important;
  background-color: #0d28a6 !important;
  width: 120%;
  margin-top: -10%;
} */

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .sign-section {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 0;
  }

  .sign-form {
    flex-grow: 1;
    padding: 0 9rem;
  }

  img.sign-img {
    display: block;
  }
}
