.nav-container {
    text-align: center;
    width: 100%;
    height: 510px; 
    background: #F1F3FF;
  }
  
  .mb-3 {
    visibility: hidden;
  }

  .half-canvas {
    width: 50% !important;
  }

  .navbar-parent {
    visibility: hidden;
  }

  .link {
    margin-top: -225px;
}

#regisBtn {
  width: 81px;
  height: 36px;
  background: #5CB85F;
  border-radius: 2px;
  border: none;
  color: #fff;

}

#regisBtn:hover {
  width: 81px;
  height: 36px;
  background: #46aa49;
  border-radius: 2px;
  border: none;
  color: #fff;
  transform: scale(1.2);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0,0.2)
}

#regisBtn:active {
  width: 81px;
  height: 36px;
  background: #9dffad;
  border-radius: 2px;
  border: none;
  color: rgb(0, 0, 0);
}

  @media screen and (max-width: 414px) {
    .mb-3 {
        visibility: visible;
      }
      .navbarBrand{
        margin-left: 16px;
      }
      .nav-container {
        text-align: center;
        width: 100%;
        height: 657px; 
        background: #F1F3FF;
      }
      .link {
        margin-top: auto;
    }
    .toggle {
        margin-left: 0;
        margin-top: -560px;
        margin-right: 0px;
        border: none;
    }
  }
  