.selectedcar{
    display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.categorycar{
    margin-top: -20px;
    margin-left: 25px;
}

.carPrice2 {
    margin-top: -40px;
    margin-left: 150px;
}