.head {
    display: flex;
    flex-direction: row;
    margin-left: 204px;
    margin-top: -70px;
    justify-content: space-between;
}
#paylink {
    color:rgb(0, 0, 0);
    text-decoration: none;
}

#type {
    margin-left: 21px;
}
#orderid{
    margin-left: 48px;
    font-size: 14px;
}

.countdown-cont {
    display: flex;
    flex-direction: row;
    width: 605px;
    justify-content: space-between;
    height: 96px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-left: 14%;
}

.deadlinedesc {
    margin-left: 24px;
    font-size: 14px;
}

.deadlinedesc > h6 {
    padding-top: 24px;
}

.countdown {
    margin-top: 40px;
    margin-right: 26px;
}

.time {
    background: rgb(255,0,0);
    color: #FFFFFF;
    font-weight: bold;
    border-radius: 3px;
    padding: 0.3rem;
}
.first-row {
    display: flex;
    flex-direction: row;
    margin-top: 3%;
}
.confirmation {
    display: flex;
    flex-direction: column;
    width: 490px;
    height: 148px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-left: 32px;
}

#instruction {
    font-size: 14px;
    margin-left: 24px;
    margin-top: 24px;
}

#confirmBtn {
    width: 358px;
    height: 36px;
    background: #5CB85F;
    border-radius: 2px;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    align-self: center;
    margin-top: 20px;
}

.transfer {
    width: 605px;
    height: 300px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-left: 14%;
    margin-top: -24px;
    padding-left: 24px;
    padding-top: 24px;
}

.transferid {
    display: flex;
    flex-direction: row;
    padding-right: 16px;
}

#selectedbank {
    width: 61px;
    height: 30px;
    border: 1px solid #D0D0D0;
    border-radius: 4px;
    margin-right: 16px;
    color: black;
}
#selectedmethod {
    margin-top: 3px;
}
#transferid {
    margin-left: 80px;
    margin-top: -8px;
}

.Number {
    width: 557px;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #3C3C3C;
    border-radius: 2px;
    color: #3C3C3C;
}

.Price-cont {
    margin-top: 16px;
}
.icon {
    margin-left: -28px;
}

.icon:hover {
    margin-left: -28px;
    background-color: #abaefc;
    border-radius: 50%;
}
.copied {
    color: #5CB85F;
    margin-left: 88%;
    margin-bottom: 0%;
    margin-top: -5.3%;
}
.status {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    margin-right: 250px;
}

.num {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgb(30, 0, 151);
    background: #FFFFFF;
    text-align: center;
    color: black;
    font-size: 14px;
}
.current {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgb(30, 0, 151);
    background: rgb(30, 0, 151);
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
}
.text {
    margin-right: 8px;
}
.line {
    margin-top: -5px;
    margin-right: 8px;
}

.transfer-cont {
    width: 405px;
height: 474px;
background: #FFFFFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
border-radius: 8px;
margin-left: 2%;
margin-top: 0%;
margin-bottom: 0%;
padding-left: 24px;
}

#titlecon {  
    padding-top: 24px;
}

#thank {
    font-size: 14px;
    width: 350px;
}
.upload-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -5%;
}
.up-field {
    width: 296px;
height: 162px;
background: #EEEEEE;
border: 1px dashed #D0D0D0;
border-radius: 4px;
}

#upload {
    border: none;
    background-color: #5CB85F;
    color: #FFFFFF;
    margin-top: 5%;
    width: 357px;
    height: 36px;
}
#img-icon {
    margin-left: 46%;
    margin-top: 25%;
}