
.editsearch-cont3 {
  display: flex;
  flex-direction: row;
  /* position: relative; */
  width: 62.5%;
  height: 142px;
  /* left: -30%; */
  /* top: -10%; */
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  justify-content: space-evenly;
  align-content: center;
  margin: 0 18.5rem;
  /* margin-left: 15%; */
  margin-top: -4%;
  z-index: 1;
}
#titleform {
  margin-top: 24px;
  margin-left: -8%;

}
.search-form {
  margin-left: -11%;
}
.inputs {
  margin-left: 0%;
  border: 1px solid #222222;
  border-radius: 2px;
  width: 100%;
  height: 36px;
  font-size: 12px;
}

.filtered {
  margin-left: -16%;
}
#editBtn2 {
  width: 7%;
  height: 36px;
  margin-top: 83px;
  margin-left: -16%;
  background: #FFFFFF;
  border: 1px solid #0D28A6;
  border-radius: 2px;
  font-family: 'Arial';
  font-size: 14px;
  text-align: center;
  color: #0D28A6;
}
#editBtn2:hover {
  background: #0D28A6;
  color: #FFFFFF;
}
.carCard {
  display: flex;
  flex-direction: column;
  width: 333px;
  height: 478px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-top: 5%;
  justify-content: center;
  align-content: center;
  text-align: left;
  margin-left: 16px;
}
.car-detail {
  margin-left: 7%;
  margin-top: 5%;
  width: 80%;
  justify-content: center;
}

#input-search2 {
  width: 100%;
  height: 36px;
  background: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 2px;
  margin-left: 0%;
}
.labels {
  margin-left: -2%;
}
.label-name2 {
  text-align: left;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #3C3C3C;
  margin-left: 0%;
}
#selectBtn {
  width: 285px;
  height: 48px;
  background: #5CB85F;
  border-radius: 2px;
  border: none;
  color: #FFFFFF;
  margin-left: 5%;
  }
.carList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.carImage {
  width: 270px;
  height: 160px;  
  margin-left: 32px;
}

@media screen and (max-width:414px) {
  .editsearch-cont3 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 340px;
    height: 400px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-left: 16px;
    margin-top: -70px;
    z-index: 1;
  }
  .inputs {
    margin-left: -2.6%;
    border: 1px solid #222222;
    border-radius: 2px;
    width: 100%;
    height: 36px;
    font-size: 12px;
  }
  #input-search2 {
    width: 93%;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 2px;
    margin-left: 4.6%;
  }
  #titleform {
    margin-top: 24px;
    margin-left: 3%;
  }
  .label-name2 {
    text-align: left;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #3C3C3C;
    margin-left: 4.6%;
  }
  .search-form {
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-top: 16px;
  }
  .filtered {
    margin-left:-6px;
  }
  #editBtn2 {
    width: 51px;
    height: 36px;
    margin-top: 0px;
    margin-left: 8px;
    background: #FFFFFF;
    border: 1px solid #0D28A6;
    border-radius: 2px;
    font-family: 'Arial';
    font-size: 14px;
    color: #0D28A6;
  }
  .carList {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    text-align: center;
    justify-content: center;
    align-content: center;
  }
}

/* @media only screen and (min-width: 1024px) {
  /* .editsearch-cont3{
    position: relative;
    bottom: 4rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 8rem;
  } */
  /* .carCard{
    position: relative;
    bottom: 4rem;
    margin: 0 8rem;
  } */
