/* getcar.jsx */
/* ada dibagian halaman http://localhost:3002/searchresult */
.editsearch-cont3 {
  display: flex;
  flex-direction: row;
  width: 35%;
  height: 142px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  justify-content: center;
  align-content: center;
  padding: 0%;
  margin: auto;
  margin-top: -3%;
  /* margin-right: 40%; */
  /* margin-left: 25%; */
  z-index: 1;
}
.carCard {
  display: flex;
  flex-direction: column;
  width: 333px;
  height: 478px;
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-top: 5%;
  justify-content: center;
  align-content: center;
  text-align: left;
}
.car-detail {
  margin-left: 7%;
  margin-top: 5%;
  width: 80%;
  justify-content: center;
}

#input-namaMobil {
  width: 100%;
  height: 36px;
  background: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 2px;
  margin-left: auto;
}

#input-search2 {
  width: 100%;
  height: 36px;
  background: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 1px;
  margin: auto; 
}


.label-name2 {
  width: 100%;
  text-align: left;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #3C3C3C;
  margin: auto;
}

.label-Kategori {
  text-align: left;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #3C3C3C;
  margin: auto;
}

.label-Harga {
  text-align: left;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #3C3C3C;
  margin: auto;
}
.label-status {
  text-align: left;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #3C3C3C;
  margin: auto;
}

#selectBtn {
  width: 285px;
  height: 48px;
  background: #5CB85F;
  border-radius: 2px;
  border: none;
  color: #FFFFFF;
  margin-left: 5%;
  }
.carList {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.carImage {
  width: 270px;
  height: 160px;  
  margin-left: 32px;
}

@media screen and (max-width:414px) {
  .editsearch-cont3 {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    height: 400px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-left: 10%;
    margin-top: -70px;
    z-index: 1;
  }
  .search-form {
    display: flex;
    flex-direction: column;
    margin-left: -10%;
    margin-top: 16px;
  }
  
  .label-name2 {
    text-align: left;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #3C3C3C;
    margin-left: 15%;
  }

  .label-Kategori {
    text-align: left;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #3C3C3C;
    margin-left: 10%;
  }
  
  .label-Harga {
    text-align: left;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #3C3C3C;
    margin-left: 10%;
  }
  .label-status {
    text-align: left;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #3C3C3C;
    margin-left: 21%;
  }

  #input-namaMobil {
    width: 70%;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 2px;
    margin-left: 15%;
  }

  #input-search2 {
    width: 70%;
    height: 36px;
    background: #FFFFFF;
    border: 1px solid #222222;
    border-radius: 2px;
    margin-left: 10%;
  }
  
  .filtered {
    margin-left:-6px;
  }
  #editBtn2 {
    width: 51px;
    height: 36px;
    margin-top: 24px;
    margin-left: 16px;
    background: #FFFFFF;
    border: 1px solid #0D28A6;
    border-radius: 2px;
    font-family: 'Arial';
    font-size: 14px;
    color: #0D28A6;
  }
  .carList {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    text-align: center;
    justify-content: center;
    align-content: center;
  }
}

/* @media only screen and (min-width: 1024px) {
  /* .editsearch-cont3{
    position: relative;
    bottom: 4rem;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 8rem;
  } */
  /* .carCard{
    position: relative;
    bottom: 4rem;
    margin: 0 8rem;
  } */
