/* carfilter.jsx */
/* ada dibagian halaman http://localhost:3002/selectcar */

.searching{
  text-align: center;
  width: 100%;
  height: 510px; 
  background: #F1F3FF;; 
  margin-bottom:0px;
}
  
.form-cont {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 1047px;
  height: 142px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-left: 300px;
  margin-top: -50px;
  z-index: 1;

}

.name-filter {
  display: flex;
  flex-direction: row;
  text-align: left;
  margin-left: 24px;
  margin-top: 24px;
}
.labels {
  text-align: left;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  color: #3C3C3C;
}

.label-name {
  text-align: left;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: #3C3C3C;
  margin-left: -120px;
  margin-top: 0px;
}
.category-cont {
  text-align: left;
  margin-left: 16px;
  margin-top: 0px;
  align-self: stretch;
}
#name-input3 {
  width: 208px;
  height: 36px;
  background: #FFFFFF;
  border: 1px solid #D0D0D0;
  border-radius: 2px;
  margin-top: -1px;
  margin-left: 24px;
}

#category {
  width: 208px;
  height: 36px;
  background: #FFFFFF;
  border: 1px solid #D0D0D0;
  border-radius: 2px;
  font-size: 12px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #8A8A8A;
}

.price {
  text-align: left;
  margin-left: 16px;
  margin-top: 0px;
  align-self: stretch;
}

.status {
  text-align: left;
  margin-left: 16px;
  margin-top: 24px;
  align-self: stretch;
}

#searchBtn {
  width: 100px;
  height: 50px;   
  background: #5CB85F;
border-radius: 2px;
border: none;
font-family: 'Arial';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 20px;
color: #FFFFFF;
margin-top: 25px;
margin-left: 0px;
}

#searchBtn:hover {
  transform: scale(0.9);
}
.api-data {
  margin-top: 120px;
  margin-left: -100px;
}
.search-res{
  text-align: center;
  width: 100%;
  height: 266px; 
  background: #F1F3FF;; 
  margin-bottom:0px;
  margin-top: 0px;
}

.editsearch-cont {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 1047px;
  height: 142px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-top: -60px;
  margin-left: 300px;
  z-index: 1;
}

#editBtn {
  width: 51px;
  height: 36px;
  margin-top: 48px;
  margin-left: 16px;
  background: #FFFFFF;
  border: 1px solid #0D28A6;
  border-radius: 2px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #0D28A6;
}

#editBtn:hover {
  background: #0D28A6;
  color: #FFFFFF;
}
.car-image {
  width: 400px;
  height: 260px;
}

.formcont {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 1047px;
  height: 142px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  margin-left: 300px;
  margin-top: -70px;
  z-index: 1;
}
.search-form {
  display: flex;
  flex-direction: row;
  margin-top: 60px;
  margin-left: -123px;
}
.name-filter2 {
  text-align: left;
  margin-left: 24px;
}
.category-cont2 {
  text-align: left;
  margin-left: 16px;
  margin-top: 0px;
  align-self: stretch;
}

.price2 {
  text-align: left;
  margin-left: 16px;
  margin-top: 0px;
  align-self: stretch;
}

.status2 {
  text-align: left;
  margin-left: 16px;
  margin-top: 0px;
  align-self: stretch;
}

#name-input2 {
border: 1px solid #222222;
border-radius: 2px;
width: 221px;
height: 36px;
}

#inputs {
  border: 1px solid #222222;
  border-radius: 2px;
  width: 221px;
  height: 36px;
  font-size: 12px;
  }

#editBtn2 {
  width: 51px;
  height: 36px;
  margin-top: 83px;
  margin-left: 16px;
  background: #FFFFFF;
  border: 1px solid #0D28A6;
  border-radius: 2px;
  font-family: 'Arial';
  font-size: 14px;
  line-height: 20px;
  color: #0D28A6;
}
#editBtn2:hover {
  background: #0D28A6;
  color: #FFFFFF;
}
.form-title {
  margin-top: 24px;
  margin-left: 24px;
}

#input-search2 {
  margin-left: 24px;
}

@media screen and (max-width:414px) {
  .form-cont {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 340px;
    height: 400px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-left: 8px;
    margin-top: 0px;
    z-index: 1;
  }

  #name{
    margin-left: 0px;
  }
  .search-form {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    margin-left: -123px;
  }
  .name-filter2 {
    text-align: left;
    margin-left: 24px;
  }
  .category-cont2 {
    text-align: left;
    margin-left: 16px;
    margin-top: 0px;
    align-self: stretch;
  }
  
  .price2 {
    text-align: left;
    margin-left: 16px;
    margin-top: 0px;
    align-self: stretch;
  }
  
  .status2 {
    text-align: left;
    margin-left: 16px;
    margin-top: 0px;
    align-self: stretch;
  }
  
  #name-input3 {
  border: 1px solid #222222;
  border-radius: 2px;
  width: 217px;
  height: 36px;
  margin-left: -85px;
  }
  
  #inputs {
    border: 1px solid #222222;
    border-radius: 2px;
    width: 100%;
    height: 36px;
    font-size: 12px;
    }
  
  
  .form-title {
    margin-top: 24px;
    margin-left: 24px;
  }
  .label-name {
    text-align: left;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
    color: #3C3C3C;
    margin-left: -230px;
    margin-top: 30px;
  }
  #searchBtn {
    width: 92px;
    height: 36px;   
    background: #5CB85F;
  border-radius: 2px;
  border: none;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  color: #FFFFFF;
  margin-top: 8px;
  margin-left: 16px;
  }
  .Menu {
    margin-top: 86px;
    margin-left: 16px;
    text-align: left;
  }
}