.sign-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.signform {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}
.signbrand{
    width: 100px;
    height: 34px;
    background: #CFD4ED;
    margin-left: -270px;
    margin-bottom: 32px;
    cursor: pointer;
}
#title {
    margin-left: -260px; 
    margin-bottom: 32px;
}

#welcome {
    margin-left: -142px; 
    margin-bottom: 32px;
}

#thumbnail{
    width: 50%;
}
.labelsign {
    font-family: Arial;
    font-size: 14px;
}
.inputsign {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 370px;
    height: 38.15px;
    margin-top: 9px;
    margin-bottom: 16px;
}
#signupBtn {
    width: 370px;
    height: 36px;
    background: #0D28A6;
    border-radius: 2px;
    border: none;
    color: #FFFFFF;
    margin-top: 16px;
}

#signupBtn:hover {
    width: 370px;
    height: 36px;
    background: #1b42ee;
    border-radius: 2px;
    border: none;
    color: #FFFFFF;
    margin-top: 16px;
}
#signupq {
    margin-top: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}
#linksignin {
    color: #0D28A6;
}

#linksignup {
    color: #0D28A6;
}

/* ::placeholder {
    color: #A5A5A5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
} */

.error {
    color: red;
}

#alertup {
    color: rgb(255,0,0);
    font-weight: bold;
    width:250px;
    background: rgb(254, 195, 195);
    height: 40px;
    text-align: center;
    padding-top:7px;
    border-radius: 4px;
    margin-left: 3%;
    animation: fade-out 5s forwards;
}

.signupcheck {
    width: 220px;
    height: 40px;
    color: rgb(0,0,0);
    margin-top: 0px;
    background-color: rgb(189, 224, 189);
    border: none;
    border-radius: 4px;
    text-align: center;
    padding-top: 8px;
    margin-bottom: 8px;
    margin-left: 3%;
    animation: fade-out 5s forwards;
}
#uptoin {
    width: 370px;
    height: 36px;
    background: #0D28A6;
    border-radius: 2px;
    border: none;
    color: #FFFFFF;
    margin-top: 16px;
    font-size: 18px;
}

#uptoin:hover {
    width: 370px;
    height: 36px;
    background: #1b42ee;
    border-radius: 2px;
    border: none;
    color: #FFFFFF;
    margin-top: 16px;
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }

}