.navi-white{
  background-color: #ffffff;
}
.navigator{
  background-color: #F1F3FF;
}

.navi-link{
  text-decoration: none;
  padding: 0;
}

.p-navi{
  margin: 0;
  color: black;
}
.brand-logo{
  margin-left: 0.5rem;
  width: 100px;
  height: 34px;
  background-color: #0D28A6;
}
.offset-brand-logo{
  width: 100px;
  height: 34px;
  text-decoration: none;
  color:black;
  font-size: 25px;
  font-weight: bolder;
}

.btn-register{
  display:flex;
  justify-content:center;
  background-color: #5CB85F;
  color: white;
  font-weight: 700;
  width:100px;
}
#userava {
  border-radius: 50%;
  height: 45px;
  width: 45px;
  margin-top: -1.5%;
}

#logout {
  color: #fff;
  border: none;
  background: none;
  font-weight: bold;
}
.showuser{
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 1024px) {
  .brand-logo{
    margin-left: 4.5rem;
  }
  
  .navi-link{
  color: black;
  text-decoration: none;
  padding: 0 0.6rem
}

}
