  .detail-section {
    position: relative;
    bottom: 6rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
  }

  .card-detail,
  .card-detail-total {
    margin: 1rem 2rem;
    width: auto;
  }

  .detail-list li {
    font-weight: 700;
    font-size: 14px;
    color: #8A8A8A;
  }

  .detail-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }

  .category {
    font-size: 10px;
    font-weight: 700;
    line-height: 14px;
    padding-bottom: 1rem;
    color: #8A8A8A;
  }

  .category-icon {
    padding-right: 0.5rem;
  }

  .date-picker {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;
  }

  .hero-div {
    background-color: #F1F3FF;
    height: 200px;
  }

  .tggl {
    width: 100% !important;
  }

  @media only screen and (min-width: 768px) {
    .detail-section {
      align-items: stretch;
      justify-content: center;
      flex-direction: row;
    }

    .card-detail-total {
      margin: 1rem;
      width: 18rem;
    }

    .card-detail {
      margin: 1rem;
      width: 50%;
    }

    /* .card-detail, .card-detail-total{
    width: auto;
  } */
  }

  @media only screen and (min-width: 1024px) {

    .detail-section {
      margin-top: 2rem;
      flex-direction: row;
      align-items: stretch;
      justify-content: center;
    }

  }